:root{
    background-color: rgb(6, 6, 87);
    font-family: Tahoma;
    font-size: 15px;
    font-weight: 900;
    color: #f2ebeb;
    padding: 2px;
}
/* Estilos para o cabeçalho */
header {
    background-color: rgb(152, 135, 222);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos para as colunas na tabela */
.numero {
    width: 80px;
    border: solid 2px;
    text-align: center;
}

.nome {
    width: 400px;
    border: solid 2px;
    text-align: left;
    padding: 5px; /* Adicionando um pequeno espaço interno */
}

.musica {
    width: 60%;
    border: solid 2px;
    text-align: left;
    padding: 5px; /* Adicionando um pequeno espaço interno */
    
}
.playButton{
    width: 100px; /* Define a largura do elemento de áudio */
    text-align: center;
    align-self: self-end;

  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .tituloMusica {
    float: left; /* Alinha o título à esquerda */
    padding-right: 10px; /* Adiciona espaço entre o título e o botão */
  }
  
  .controleMusica {
    overflow: hidden; /* Limpa o float e mantém o controle à direita */
  }

/* Estilos para o rodapé */
footer {
    height: 80px;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 20px; /* Reduzindo o espaço interno do rodapé */
}
