:root {
  --cor-inicial: rgb(15, 15, 127);
  --cor-final: #16550b;
  --gradiente: linear-gradient(to bottom, var(--cor-inicial), var(--cor-final));
  background-image: var(--gradiente);
  font-family: Tahoma;
  font-size: 10px;  
  color: #ecebf2;  
}

header {
  background-color: rgba(125, 130, 180, 0.744);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 15px;
  padding: 10px;
}
.logotipo{
  width: 30px;
  height: 30px;
  align-self: self-start;

}
.container {
  display: flex;
  justify-content: space-between;
}
.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.numero {
  width: 10%;
  border: solid 1px;
  text-align: center;
}

.nome {
  width: 40%;
  border: solid 1px;
  text-align: left;
  padding: 2px; /* Adicionando um pequeno espaço interno */
}

.musica {
  width: 50%;
  border: solid 1px;
  text-align: left;
  padding: 2px; /* Adicionando um pequeno espaço interno */
  
}
.playButton{
  width: 30px; /* Define a largura do elemento de áudio */
  text-align: center;
  align-self: self-end;
  font-size: 10px;
}
.tituloMusica {
  float: left; /* Alinha o título à esquerda */
  padding-right: 05px; /* Adiciona espaço entre o título e o botão */
}
.controleMusica {
  overflow: hidden; /* Limpa o float e mantém o controle à direita */
}
footer {
  height: auto;
  background-color: black;
  font-family: Georgia;
  font-size:  10px; 
  color: antiquewhite;
  text-align: center;
  padding: 05px; /* Reduzindo o espaço interno do rodapé */
}

  /* Estilos para telas maiores que 768 pixels de largura */
@media screen and (min-width: 768px){

  body{
    font-size: 15px;
    font-weight: 700;
    padding: 2px;
  }
 
header {  
    height: 40px;
    padding: 10px; 
    font-size: 30px;
}
  .logotipo{
    width: 40;
    height: 40px;
    align-self: left;
  }

/* Estilos para as colunas na tabela */
.numero {    
    border: solid 2px;
    text-align: center;
}

.nome {
    border: solid 2px;
    text-align: left;
    padding: 5px; /* Adicionando um pequeno espaço interno */
}

.musica {
    border: solid 1px;
    text-align: left;
    padding: 5px; /* Adicionando um pequeno espaço interno */
    
}
.playButton{
    width: 100px; /* Define a largura do elemento de áudio */
    font-size: 15px;
  }
  
  .tituloMusica {
    float: left; /* Alinha o título à esquerda */
    padding-right: 05px; /* Adiciona espaço entre o título e o botão */
  }
 
/* Estilos para o rodapé */
    footer {
        height: 80px;
        font-size: 25px; 
        color: antiquewhite;
        padding: 10px; /* Reduzindo o espaço interno do rodapé */
    }
}
 /* Estilos para telas maiores que 768 pixels de largura */
 @media screen and (min-width: 1024px){

  body{
    font-size: 20px;
    font-weight: 400;
    padding: 2px;
  }
 
header {  
    height: 80px;
    padding: 10px; 
    font-size: 40px;
}
  .logotipo{
    width: 80px;
    height: 80px;
    align-self: left;
  }

/* Estilos para as colunas na tabela */
.numero {    
    border: solid 2px;
    text-align: center;
}

.nome {
    border: solid 2px;
    text-align: left;
    padding: 5px; /* Adicionando um pequeno espaço interno */
}

.musica {
    width: 800px;
    border: solid 2px;
    text-align: left;
    padding: 5px; /* Adicionando um pequeno espaço interno */    
}

.playButton{
    width: 100px; /* Define a largura do elemento de áudio */
    font-size: 25px;
  }
  
  .tituloMusica {
    float: left; /* Alinha o título à esquerda */
    padding-right: 10px; /* Adiciona espaço entre o título e o botão */
  }
 
/* Estilos para o rodapé */
    footer {
        height: 80px;
        font-size: 20px; 
        color: antiquewhite;
        padding: 20px; /* Reduzindo o espaço interno do rodapé */
    }
}